<div>
  <h2 class="well well-sm text-center">Angular CLI</h2> 
   
  <ul class="list-group">
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/new">
        <strong>new [name]</strong>
      </a>
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/serve">
        <strong>ng serve</strong>
      </a>
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/generate">
        <strong>ng generate [name]</strong>
      </a>  
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/lint">
        <strong>ng lint</strong>
      </a>
    </li>    
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/test">
        <strong>ng test</strong>
      </a>  
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/e2e">
        <strong>ng e2e</strong>
      </a>
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/build"> 
        <strong>ng build</strong>
      </a>  
    </li>
    <li class="list-group-item">
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/doc">
        <strong>ng doc [search term]</strong>
      </a>  
    </li>
  </ul> 

  <br>
  <h6><a target="_blank" rel="noopener" href="https://cli.angular.io/">Angular CLI Overview</a></h6> 
</div> 

