<div class="container" >
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong> Log in to continue</strong>
          </div>
          <div class="panel-body">
            <form [formGroup]="loginForm" 
                  (ngSubmit)="login()"
                  (keydown.enter)="$event.preventDefault()"
                  novalidate>
              <fieldset>
                <div class="row">
                  <div class="center-block">
                    <img class="profile-img"
                      src="assets/images/photo.png">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span> 
                        <input class="form-control" 
                               type="text"                                                                                    
                               formControlName="login" 
                               placeholder="Enter login">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        <input class="form-control" 
                               type="password"                                                      
                               formControlName="password" 
                               placeholder="Enter password">
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" 
                              class="btn btn-lg btn-primary btn-block" 
                              [disabled]="loginForm.invalid">
                              Sign In
                      </button>       
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
          <div class="panel-footer ">
            Don't have an account! <a  (click)="signUp()"> Sign Up Here </a>
          </div>
        </div>
      </div>
    </div>
  </div>